input[name="cancel"],
input[name="submit"],
input[name="redact"]{
    display: none;
}

form{
    min-width: 200px;
    max-width: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#addItem{
    display: flex;
    flex-direction:column;
    align-items: flex-start;
}
#addItem div{
    width: 250px;
}

.warning{
    border: 2px solid red;
}

.delete{
    background-color: red;
}
h6{
    margin: 10px 0;
}